.help-drawer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;

    > *:not(:first-child) {
        margin-top: 10px;
    }
}

.footer-info {
    .header {
        font-size: 0.9em;
        font-weight: 700;
    }

    font-size: 0.85em;
    margin-top: auto;
}
