@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

html {
    body {
        font-family: sans-serif;
        font-size: 16px;
        //background-image: url("mountains.jpg");
        background-size: cover;

        &.bp3-dark {
            background-color: #30404d;
        }

        #app {
            position: absolute;

            overflow: hidden;

            display: flex;
            flex-direction: column;

            height: 100%;
            width: 100%;
            overflow: hidden;
            padding-top: $pt-navbar-height;

            > .ui.menu.top.fixed {
                position: static;
            }
        }
    }
}

.navbar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .bp3-navbar {
        padding-right: 0;
        display: flex;

        .left-group {
            flex: 0;
            padding-right: 0.5rem;
        }

        .center-group {
            flex: 1;
        }

        .right-group {
            flex: 0;
            margin-left: auto;
            padding-right: 0.5rem;
        }
    }

    .checkout-add {
        padding-left: 0.15rem;
    }
}
